{% extends "characters/basesheet.html" %}
{% load characters_utils %}

{% block sheetcss %}
<link rel="stylesheet" href="http://centraldogma:8000/characters_media/css/universe/scion.css">
{% endblock %}

{% block header %}
<h1 class="sectionheader">Scion</h1>
{% endblock %}

{% block sheet %}
<div id="basicinfo">

  <div id="basicinfoleft" class="threecolumnleft">

    <table class="fullwidth">
    
      <tr>
        <td class="lightunderline">
          {{ character.name }}
        </td>
      </tr>

      <tr>
        <td class="basicinfolabel">
          <label>Name</label>
        </td>
      </tr>
      
      <tr>
        <td class="lightunderline basicinfolowerrow">
          {% if editmode %}
            <input type="text" name="player" value="{{ attributes.player }}" />
          {% else %}
            {{ attributes.player }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="basicinfolabel">
          <label for="player">{{ universe_attributes.player.name }}</label>
        </td>
      </tr>

    </table>

  </div>

  <div id="basicinfomiddle" class="threecolumnmiddle">

    <table class="fullwidth">

      <tr>
        <td class="lightunderline">
          {% if editmode %}
            <input type="text" name="calling" value="{{ attributes.calling.value }}" />
          {% else %}
            {{ attributes.calling }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="basicinfolabel">
          <label for="calling">{{ universe_attributes.calling.name }}</label>
        </td>
      </tr>

      <tr>
        <td class="lightunderline basicinfolowerrow">
          {% if editmode %}
            <select name="nature">
        <option value="0"></option>
        {% for choice in universe_attributes.nature.choices %}
          <option value="{{ choice.id }}" {% ifequal choice attributes.nature.choice %}selected{%endifequal %}>{{ choice.name }}</option>
        {% endfor %}
      </select>
          {% else %}
            {{ attributes.nature.choice.name }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="basicinfolabel">
          <label for="nature">{{ universe_attributes.nature.name }}</label>
        </td>
      </tr>

    </table>

  </div>

  <div id="basicinforight" class="threecolumnright">

    <table class="fullwidth">

      <tr>
        <td class="lightunderline">
          {% if editmode %}
            <select name="pantheon">
        <option value="0"></option>
        {% for choice in universe_attributes.pantheon.choices %}
          <option value="{{ choice.id }}" {% ifequal choice attributes.pantheon.choice %}selected{% endifequal %}>{{ choice.name }}</option>
        {% endfor %}
      </select>
          {% else %}
            {{ attributes.pantheon.choice.name }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="basicinfolabel">
          <label for="pantheon">{{ universe_attributes.pantheon.name }}</label>
        </td>
      </tr>

      <tr>
        <td class="lightunderline basicinfolowerrow">
          {% if editmode %}
            <input type="text" name="god" value="{{ attributes.god }}" />
          {% else %}
            {{ attributes.god }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="basicinfolabel">
          <label for="god">{{ universe_attributes.god.name }}</label>
        </td>
      </tr>

    </table>

  </div>

  <div class="clear">&nbsp;</div>

</div>

<div id="attributes">

  <h2 class="sectionheader">Attributes</h2>

  <div id="physicalattributes" class="threecolumnleft">

    <h3 class="textcenter">Physical</h3>

    <table>

      <tr>
        <td rowspan="2" class="fullwidth">
          <div class="attributelabel">{{ universe_attributes.strength.name }}</div>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="strength" value="{{ attributes.strength|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.strength.value|dots:universe_attributes.strength.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {% if editmode %}
            <input type="text" name="epicstrength" value="{{ attributes.epicstrength|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.epicstrength|squares:universe_attributes.epicstrength.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td rowspan="2" class="fullwidth">
          <div class="attributelabel">{{ universe_attributes.dexterity.name }}</div>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="dexterity" value="{{ attributes.dexterity|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.dexterity.value|dots:universe_attributes.dexterity.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {% if editmode %}
            <input type="text" name="epicdexterity" value="{{ attributes.epicdexterity|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.epicdexterity|squares:universe_attributes.epicdexterity.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td rowspan="2" class="fullwidth">
          <div class="attributelabel">{{ universe_attributes.stamina.name }}</div>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="stamina" value="{{ attributes.stamina|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.stamina.value|dots:universe_attributes.stamina.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {% if editmode %}
            <input type="text" name="epicstamina" value="{{ attributes.epicstamina|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.epicstamina|squares:universe_attributes.epicstamina.max }}
          {% endif %}
        </td>
      </tr>

    </table>

  </div>
  
  <div id="socialattributes" class="threecolumnmiddle">

    <h3 class="textcenter">Social</h3>

    <table>

      <tr>
        <td rowspan="2" class="fullwidth">
          <div class="attributelabel">{{ universe_attributes.charisma.name }}</div>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="charisma" value="{{ attributes.charisma|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.charisma.value|dots:universe_attributes.charisma.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {% if editmode %}
            <input type="text" name="epiccharisma" value="{{ attributes.epiccharisma|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.epiccharisma|squares:universe_attributes.epiccharisma.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td rowspan="2" class="fullwidth">
          <div class="attributelabel">{{ universe_attributes.manipulation.name }}</div>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="manipulation" value="{{ attributes.manipulation|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.manipulation.value|dots:universe_attributes.manipulation.max }}
          {% endif %}
        </td>
      </tr>
      
      <tr>
        <td>
          {% if editmode %}
            <input type="text" name="epicmanipulation" value="{{ attributes.epicmanipulation|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.epicmanipulation|squares:universe_attributes.epicmanipulation.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td rowspan="2" class="fullwidth">
          <div class="attributelabel">{{ universe_attributes.appearance.name }}</div>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="appearance" value="{{ attributes.appearance|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.appearance.value|dots:universe_attributes.appearance.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {% if editmode %}
            <input type="text" name="epicappearance" value="{{ attributes.epicappearance|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.epicappearance|squares:universe_attributes.epicappearance.max }}
          {% endif %}
        </td>
      </tr>

    </table>

  </div>

  <div id="mentalattributes" class="threecolumnright">

    <h3 class="textcenter">Mental</h3>

    <table>

      <tr>
        <td rowspan="2" class="fullwidth">
          <div class="attributelabel">{{ universe_attributes.perception.name }}</div>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="perception" value="{{ attributes.perception|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.perception.value|dots:universe_attributes.perception.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {% if editmode %}
            <input type="text" name="epicperception" value="{{ attributes.epicperception|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.epicperception|squares:universe_attributes.epicperception.max }}
          {% endif %}
        </td>
      </tr>
      
      <tr>
        <td rowspan="2" class="fullwidth">
          <div class="attributelabel">{{ universe_attributes.intelligence.name }}</div>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="intelligence" value="{{ attributes.intelligence|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.intelligence.value|dots:universe_attributes.intelligence.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {% if editmode %}
            <input type="text" name="epicintelligence" value="{{ attributes.epicintelligence|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.epicintelligence|squares:universe_attributes.epicintelligence.max }}
          {% endif %}
        </td>
      </tr>
      
      <tr>
        <td rowspan="2" class="fullwidth">
          <div class="attributelabel">{{ universe_attributes.wits.name }}</div>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="wits" value="{{ attributes.wits|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.wits.value|dots:universe_attributes.wits.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
          {% if editmode %}
            <input type="text" name="epicwits" value="{{ attributes.epicwits|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.epicwits|squares:universe_attributes.epicwits.max }}
          {% endif %}
        </td>
      </tr>

    </table>

  </div>

  <div class="clear">&nbsp;</div>

</div>

<div id="abilities">

  <h2 class="sectionheader">Abilities</h2>

  <div id="abilitiesleft" class="threecolumnleft">

    <table>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="academics">{{ universe_attributes.academics.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="academics" value="{{ attributes.academics|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.academics.value|dots:universe_attributes.academics.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="animalken">{{ universe_attributes.animalken.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="animalken" value="{{ attributes.animalken|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.animalken.value|dots:universe_attributes.animalken.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="art">{{ universe_attributes.art.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="art" value="{{ attributes.art|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.art.value|dots:universe_attributes.art.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="athletics">{{ universe_attributes.athletics.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="athletics" value="{{ attributes.athletics|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.athletics.value|dots:universe_attributes.athletics.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="awareness">{{ universe_attributes.awareness.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="awareness" value="{{ attributes.awareness|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.awareness.value|dots:universe_attributes.awareness.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="brawl">{{ universe_attributes.brawl.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="brawl" value="{{ attributes.brawl|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.brawl.value|dots:universe_attributes.brawl.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="command">{{ universe_attributes.command.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="command" value="{{ attributes.command|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.command.value|dots:universe_attributes.command.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="control">{{ universe_attributes.control.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="control" value="{{ attributes.control|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.control.value|dots:universe_attributes.control.max }}
          {% endif %}
        </td>
      </tr>

    </table>

  </div>

  <div id="abilitiesmiddle" class="threecolumnmiddle">

    <table>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="craft">{{ universe_attributes.craft.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="craft" value="{{ attributes.craft|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.craft.value|dots:universe_attributes.craft.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="empathy">{{ universe_attributes.empathy.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="empathy" value="{{ attributes.empathy|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.empathy.value|dots:universe_attributes.empathy.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="fortitude">{{ universe_attributes.fortitude.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="fortitude" value="{{ attributes.fortitude|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.fortitude.value|dots:universe_attributes.fortitude.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="integrity">{{ universe_attributes.integrity.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="integrity" value="{{ attributes.integrity|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.integrity.value|dots:universe_attributes.integrity.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="investigation">{{ universe_attributes.investigation.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="investigation" value="{{ attributes.investigation|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.investigation.value|dots:universe_attributes.investigation.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="larceny">{{ universe_attributes.larceny.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="larceny" value="{{ attributes.larceny|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.larceny.value|dots:universe_attributes.larceny.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="marksmanship">{{ universe_attributes.marksmanship.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="marksmanship" value="{{ attributes.marksmanship|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.marksmanship.value|dots:universe_attributes.marksmanship.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="medicine">{{ universe_attributes.medicine.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="medicine" value="{{ attributes.medicine|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.medicine.value|dots:universe_attributes.medicine.max }}
          {% endif %}
        </td>
      </tr>

    </table>

  </div>

  <div id="abilitiesright" class="threecolumnright">

    <table>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="melee">{{ universe_attributes.melee.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="melee" value="{{ attributes.melee|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.melee.value|dots:universe_attributes.melee.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="occult">{{ universe_attributes.occult.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="occult" value="{{ attributes.occult|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.occult.value|dots:universe_attributes.occult.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="politics">{{ universe_attributes.politics.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="politics" value="{{ attributes.politics|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.politics.value|dots:universe_attributes.politics.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="presence">{{ universe_attributes.presence.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="presence" value="{{ attributes.presence|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.presence.value|dots:universe_attributes.presence.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="science">{{ universe_attributes.science.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="science" value="{{ attributes.science|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.science.value|dots:universe_attributes.science.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="stealth">{{ universe_attributes.stealth.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="stealth" value="{{ attributes.stealth|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.stealth.value|dots:universe_attributes.stealth.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="survival">{{ universe_attributes.survival.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="survival" value="{{ attributes.survival|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.survival.value|dots:universe_attributes.survival.max }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="fullwidth lightunderline">
          <label for="thrown">{{ universe_attributes.thrown.name }}</label>
        </td>
        <td>
          {% if editmode %}
            <input type="text" name="thrown" value="{{ attributes.thrown|default:"0" }}" class="statfield" />
          {% else %}
            {{ attributes.thrown.value|dots:universe_attributes.thrown.max }}
          {% endif %}
        </td>
      </tr>

    </table>

  </div>

  <div class="clear">&nbsp;</div>

</div>

<div>

  <div id="birthrights" class="twocolumnleft">

    <h2 class="sectionheader">{{ universe_attributes.birthrights.name }}</h2>

    {% if editmode %}

      <script type="text/javascript">

        function addBirthright(animate) {
          var id = document.getElementById("birthrightid").value;
          id = (id * 1) + 1;
          var field = $('#birthright0').clone();
          field.attr('id','birthright' + id);
          field.show();
          field.appendTo("#birthrightsrows");
          if (animate) {
            $("#birthright" + id).highlightFade({
              speed:1000
            });
          }
          document.getElementById("birthrightid").value = id.toString();
        }

        $(document).ready(function(){
          $('#birthright0').hide();
          if (document.getElementById("birthrightid").value == 0) {
            addBirthright(false);
            //$("#birthright1 > .removerow").hide();
          }
        });

      </script>

      {% for num, birthright in attributes.birthrights.items %}
        {% if forloop.last %}
          <input type="hidden" id="birthrightid" value="{{ num }}" />
        {% endif %}
      {% empty %}
        <input type="hidden" id="birthrightid" value="0" />
      {% endfor %}

      <a href="#" onclick="addBirthright(true); return false;">Add birthright</a>

      <table>

        <tbody id="birthrightsrows">

          {% for num, birthright in attributes.birthrights.items %}

            <tr id="birthright{{ num }}">

              <td class="fullwidth">
                <input type="text" name="birthrightname" value="{{ birthright.birthrightname }}" class="fullwidth" />
              </td>

              <td>
                <input type="text" name="birthrightlevel" value="{{ birthright.birthrightlevel|default:"0" }}" class="statfield" />
              </td>

              <td class="removerow">
                <a href="#" onclick="$(this).parent().parent().remove(); return false;">X</a>
              </td>

            </tr>

          {% endfor %}

          <tr id="birthright0">

            <td class="fullwidth">
              <input type="text" name="birthrightname" class="fullwidth" />
            </td>

            <td>
              <input type="text" name="birthrightlevel" value="0" class="statfield" />
            </td>

            <td class="removerow">
              <a href="#" onclick="$(this).parent().parent().remove(); return false;">X</a>
            </td>

          </tr>

        </tbody>

      </table>

    {% else %}

      <table class="fullwidth">

        {% for num, birthright in attributes.birthrights.items %}

          <tr>
            <td class="fullwidth lightunderline">{{ birthright.birthrightname }}</td>
            <td>{{ birthright.birthrightlevel.value|dots:universe_attributes.birthrightlevel.max }}</td>
          </tr>

	{% empty %}

	  <tr>
	    <td class="fullwidth emptymessage">No birthrights</td>
	  </tr>

        {% endfor %}

      </table>

    {% endif %}

  </div>

  <div id="weapons" class="twocolumnright">

    <h2 class="sectionheader">{{ universe_attributes.weapons.name }}</h2>

    {% if editmode %}

      <script type="text/javascript">

        function addWeapon(animate) {
          var id = document.getElementById("weaponid").value;
          id = (id * 1) + 1;
          var field = $('#weapon0').clone();
          field.attr('id','weapon' + id);
          field.show();
          field.appendTo('#weapontablerows');
          if (animate) {
            $("#weapon" + id).highlightFade({
              speed:1000
            })
          }
          document.getElementById("weaponid").value = id.toString();
        }

        $(document).ready(function(){
          $('#weapon0').hide();
          if (document.getElementById("weaponid").value == 0) {
            addWeapon(false);
            //$("#weapon1 > .removerow").hide();
          }
        });

      </script>

      {% for num, weapon in attributes.weapons.items %}
        {% if forloop.last %}
          <input type="hidden" id="weaponid" value="{{ num }}" />
        {% endif %}
      {% empty %}
        <input type="hidden" id="weaponid" value="0" />
      {% endfor %}

      <a href="#" onclick="addWeapon(true); return false;">Add weapon</a>

      <table id="weapontable">

        <thead>

          <tr>
            <th class="fullwidth weaponname">{{ universe_attributes.weaponname.name }}</th>
            <th class="textcenter weaponattributeedit">{{ universe_attributes.weaponspeed.name }}</th>
            <th class="textcenter weaponattributeedit">{{ universe_attributes.weaponaccuracy.name }}</th>
            <th class="textcenter weaponattributeedit">{{ universe_attributes.weapondamage.name }}</th>
            <th class="textcenter weaponattributeedit">{{ universe_attributes.weapondefense.name }}</th>
            <th class="textcenter weaponattributeedit">{{ universe_attributes.weaponrange.name }}</th>
            <th class="removerow"></th>
          </tr>

        </thead>

        <tbody id="weapontablerows">

          {% for num, weapon in attributes.weapons.items %}

            <tr id="weapon{{ num }}">

              <td class="fullwidth weaponname">
                <input type="text" name="weaponname" value="{{ weapon.weaponname }}" class="fullwidth" />
              </td>

              <td class="textcenter weaponattributeedit">
                <input type="text" name="weaponspeed" value="{{ weapon.weaponspeed }}" class="statfield" />
              </td>

              <td class="textcenter weaponattributeedit">
                <input type="text" name="weaponaccuracy" value="{{ weapon.weaponaccuracy }}" class="statfield" />
              </td>

              <td class="textcenter weaponattributeedit">
                <input type="text" name="weapondamage" value="{{ weapon.weapondamage }}" class="statfield" />
              </td>

              <td class="textcenter weaponattributeedit">
                <input type="text" name="weapondefense" value="{{ weapon.weapondefense }}" class="statfield" />
              </td>

              <td class="textcenter weaponattributeedit">
                <input type="text" name="weaponrange" value="{{ weapon.weaponrange }}" class="statfield" />
              </td>

              <td class="removerow">
                <a href="#" onclick="$(this).parent().parent().remove(); return false;">X</a>
              </td>

            </tr>
            
          {% endfor %}

          <tr id="weapon0">

            <td class="fullwidth weaponname">
              <input type="text" name="weaponname" class="fullwidth" />
            </td>

            <td class="textcenter weaponattributeedit">
              <input type="text" name="weaponspeed" class="statfield" />
            </td>

            <td class="textcenter weaponattributeedit">
              <input type="text" name="weaponaccuracy" class="statfield" />
            </td>

            <td class="textcenter weaponattributeedit">
              <input type="text" name="weapondamage" class="statfield" />
            </td>

            <td class="textcenter weaponattributeedit">
              <input type="text" name="weapondefense" class="statfield" />
            </td>

            <td class="textcenter weaponattributeedit">
              <input type="text" name="weaponrange" class="statfield" />
            </td>

            <td class="removerow">
              <a href="#" onclick="$(this).parent().parent().remove(); return false;">X</a>
            </td>

          </tr>

        </tbody>

      </table>

    {% else %}

      <table id="weapontable" class="fullwidth">

        {% for num, weapon in attributes.weapons.items %}

          {% if forloop.first %}

            <tr>
              <th class="fullwidth weaponname">{{ universe_attributes.weaponname.name }}</th>
              <th class="textcenter weaponattribute">{{ universe_attributes.weaponspeed.name }}</th>
              <th class="textcenter weaponattribute">{{ universe_attributes.weaponaccuracy.name }}</th>
              <th class="textcenter weaponattribute">{{ universe_attributes.weapondamage.name }}</th>
              <th class="textcenter weaponattribute">{{ universe_attributes.weapondefense.name }}</th>
              <th class="textcenter weaponattribute">{{ universe_attributes.weaponrange.name }}</th>
            </tr>

          {% endif %}

          <tr>
            <td class="fullwidth lightunderline">{{ weapon.weaponname }}</td>
            <td class="lightunderline textcenter weaponattribute">{{ weapon.weaponspeed }}</td>
            <td class="lightunderline textcenter weaponattribute">{{ weapon.weaponaccuracy }}</td>
            <td class="lightunderline textcenter weaponattribute">{{ weapon.weapondamage }}</td>
            <td class="lightunderline textcenter weaponattribute">{{ weapon.weapondefense }}</td>
            <td class="lightunderline textcenter weaponattribute">{{ weapon.weaponrange }}</td>
          </tr>

        {% empty %}

          <tr>
            <td class="fullwidth emptymessage">No weapons</td>
          </tr>

        {% endfor %}

      </table>

    {% endif %}

  </div>

  <div class="clear">&nbsp;</div>

</div>

<div>

  <div id="boons" class="threecolumnleft">

    <h2 class="sectionheader">{{ universe_attributes.boons.name }}</h2>

    {% if editmode %}

      <script type="text/javascript">

        function addBoon(animate) {
          var id = document.getElementById("boonid").value;
          id = (id * 1) + 1;
          var field = $('#boon0').clone();
          field.attr('id','boon' + id);
          field.show();
          field.appendTo('#boonsrows');
          if (animate) {
            $("#boon" + id).highlightFade({
              speed:1000
            });
          }
          document.getElementById("boonid").value = id.toString();
        }

        $(document).ready(function(){
          $('#boon0').hide();
          if (document.getElementById("boonid").value == 0) {
            addBoon(false);
            //$("#boon1 > .removerow").hide();
          }
        });

      </script>

      {% for num, boon in attributes.boons.items %}
        {% if forloop.last %}
          <input type="hidden" id="boonid" value="{{ num }}" />
        {% endif %}
      {% empty %}
        <input type="hidden" id="boonid" value="0" />
      {% endfor %}

      <a href="#" onclick="addBoon(true); return false;">Add boon</a>

      <table>

        <tbody id="boonsrows">

          {% for num, boon in attributes.boons.items %}

            <tr id="boon{{ num }}">

              <td class="fullwidth">
                <input type="text" name="boons" value="{{ boon }}" class="fullwidth" />
              </td>

              <td class="removerow">
                <a href="#" onclick="$(this).parent().parent().remove(); return false;">X</a>
              </td>

            </tr>

          {% endfor %}

          <tr id="boon0">

            <td class="fullwidth">
              <input type="text" name="boons" class="fullwidth" />
            </td>

            <td class="removerow">
              <a href="#" onclick="$(this).parent().parent().remove(); return false;">X</a>
            </td>

          </tr>
          
        </tbody>

      </table>

    {% else %}

      <table class="fullwidth">

        {% for num, boon in attributes.boons.items %}

          <tr>
            <td class="fullwidth">{{ boon }}</td>
          </tr>

        {% empty %}

          <tr>
            <td class="fullwidth emptymessage">No boons</td>
          </tr>

        {% endfor %}

      </table>

    {% endif %}

  </div>

  <div id="willpowercombat" class="threecolumnmiddle">

    <div id="willpower">

      <h2 class="sectionheader">Willpower</h2>

      <table class="tablecenter">

        <tr>
          <td>
            {% if editmode %}
              <input type="text" name="willpowermax" value="{{ attributes.willpowermax|default:"0" }}" class="fullwidth" />
            {% else %}
              {{ attributes.willpowermax|dots:universe_attributes.willpowermax.max }}
            {% endif %}
          </td>
        </tr>

        <tr>
          <td>
            {% if editmode %}
              <input type="text" name="willpowercurrent" value="{{ attributes.willpowercurrent|default:"0" }}" class="fullwidth" />
            {% else %}
              {{ attributes.willpowercurrent|squares:universe_attributes.willpowercurrent.max }}
            {% endif %}
          </td>
        </tr>

      </table>

    </div>

    <div id="combat">

      <h2 class="sectionheader">Combat</h2>

      <table class="tablecenter">

        <tr>
          <td>
            <label for="dodgedv">{{ universe_attributes.dodgedv.name }}:<label>
          </td>
          <td>
            {% if editmode %}
              <input type="text" name="dodgedv" value="{{ attributes.dodgedv }}" />
            {% else %}
              {{ attributes.dodgedv }}
            {% endif %}
          </td>
        </tr>

        <tr>
          <td>
            <label for="parrydv">{{ universe_attributes.parrydv.name }}:</label>
          </td>
          <td>
            {% if editmode %}
              <input type="text" name="parrydv" value="{{ attributes.parrydv }}" />
            {% else %}
              {{ attributes.parrydv }}
            {% endif %}
          </td>
        </tr>

        <tr>
          <td>
            <label for="joinbattle">{{ universe_attributes.joinbattle.name }}:</label>
          </td>
          <td>
            {% if editmode %}
              <input type="text" name="joinbattle" value="{{ attributes.joinbattle }}" />
            {% else %}
              {{ attributes.joinbattle }}
            {% endif %}
          </td>
        </tr>

      </table>

    </div>
  
  </div>

  <div id="virtues" class="threecolumnright">

    <h2 class="sectionheader">{{ universe_attributes.virtues.name }}</h2>

    {% if editmode %}

      <script type="text/javascript">

        function addVirtue(animate) {
          var id = document.getElementById("virtueid").value;
          id = (id * 1) + 1;
          var field = $('#virtue0').clone();
          field.attr('id','virtue' + id);
          field.show();
          field.appendTo('#virtuerows');
          if (animate) {
            $("#virtue" + id).highlightFade({
              speed:1000
            })
          }
          document.getElementById("virtueid").value = id.toString();
        }

        $(document).ready(function(){
          $('#virtue0').hide();
          if (document.getElementById("virtueid").value == 0) {
            addVirtue(false);
            //$("#virtue1 > .removerow").hide();
          }
        });

      </script>

      {% for num, virtue in attributes.virtues.items %}
        {% if forloop.last %}
          <input type="hidden" id="virtueid" value="{{ num }}" />
        {% endif %}
      {% empty %}
        <input type="hidden" id="virtueid" value="0" />
      {% endfor %}

      <a href="#" onclick="addVirtue(true); return false;">Add virtue</a>

      <table id="virtuetable">

        <tbody id="virtuerows">

          {% for num, virtue in attributes.virtues.items %}

            <tr id="virtue{{ num }}">

              <td class="fullwidth">
                <div class="lightunderline">
                  <select name="virtue">
                    <option value="0"></option>
                    {% for choice in universe_attributes.virtue.choices %}
                      <option value="{{ choice.id }}" {% ifequal choice virtue.virtue.choice %}selected{% endifequal %}>{{ choice.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </td>
              <td>
                <input type="text" name="virtuelevel" value="{{ virtue.virtuelevel|default:"0" }}" class="statfield" />
                <input type="text" name="virtueboost" value="{{ virtue.virtueboost|default:"0" }}" class="statfield" />
              </td>
              <td class="removerow">
                <a href="#" onclick="$(this).parent().parent().remove(); return false;">X</a>
              </td>
            
            </tr>

          {% endfor %}

          <tr id="virtue0">
            
            <td class="fullwidth">
              <div class="lightunderline">
                <select name="virtue">
                  <option value="0"></option>
                  {% for choice in universe_attributes.virtue.choices %}
                    <option value="{{ choice.id }}" >{{ choice.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <input type="text" name="virtuelevel" value="0" class="statfield" />
              <input type="text" name="virtueboost" value="0" class="statfield" />
            </td>
            <td class="removerow">
              <a href="#" onclick="$(this).parent().parent().remove(); return false;">X</a>
            </td>

          </tr>

        </tbody>

      </table>

    {% else %}

      <table class="fullwidth" id="virtuetable">

        {% for num, virtue in attributes.virtues.items %}

          <tr>
            <td class="fullwidth" rowspan="2"><div class="lightunderline fullwidth">{{ virtue.virtue }}</div></td>
            <td>{{ virtue.virtuelevel|dots:universe_attributes.virtuelevel.max }}</td>
          </tr>
          <tr>
            <td>{{ virtue.virtueboost|squares:universe_attributes.virtueboost.max }}</td>
          </tr>

        {% empty %}

          <tr>
            <td class="fullwidth emptymessage">No virtues</td>
          </tr>

        {% endfor %}

      </table>

    {% endif %}

  </div>

  <div class="clear">&nbsp;</div>

</div>

<div>

  <div id="movementexp" class="threecolumnleft">

    <div id="movement">

      <h2 class="sectionheader">Movement</h2>

      <table class="fullwidth">

        <tr>

          <td class="lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="move" value="{{ attributes.move }}" class="statfield" />
            {% else %}
              {{ attributes.move }}
            {% endif %}
          </td>

          <td class="lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="dash" value="{{ attributes.dash }}" class="statfield" />
            {% else %}
              {{ attributes.dash }}
            {% endif %}
          </td>

          <td class="lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="jump" value="{{ attributes.jump }}" class="statfield" />
            {% else %}
              {{ attributes.dash }}
            {% endif %}
          </td>

        </tr>

        <tr>

          <td class="textcenter">
            <label for="move">{{ universe_attributes.move.name }}</label>
          </td>

          <td class="textcenter">
            <label for="dash">{{ universe_attributes.dash.name }}</label>
          </td>

          <td class="textcenter">
            <label for="jump">{{ universe_attributes.jump.name }}</label>
          </td>

        </tr>

      </table>

    </div>

    <div id="experience">

      <h2 class="sectionheader">Experience</h2>

      <table class="fullwidth">

        <tr>

          <td class="lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="experiencetotal" value="{{ attributes.experiencetotal }}" class="statfield" />
            {% else %}
              {{ attributes.experiencetotal }}
            {% endif %}
          </td>

          <td class="lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="experiencespent" value="{{ attributes.experiencespent }}" class="statfield" />
            {% else %}
              {{ attributes.experiencespent }}
            {% endif %}
          </td>

          <td class="lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="experienceremaining" value="{{ attributes.experienceremaining }}" class="statfield" />
            {% else %}
              {{ attributes.experienceremaining }}
            {% endif %}
          </td>

        </tr>

        <tr>

          <td class="textcenter">
            <label for="experiencetotal">{{ universe_attributes.experiencetotal.name }}<label>
          </td>

          <td class="textcenter">
            <label for="experiencespent">{{ universe_attributes.experiencespent.name }}</label>
          </td>

          <td class="textcenter">
            <label for="experienceremaining">{{ universe_attributes.experienceremaining.name }}</label>
          </td>

        </tr>

      </table>

    </div>

  </div>

  <div id="soakarmor" class="threecolumnmiddle">

    <div id="soak">

      <h2 class="sectionheader">Soak</h2>

      <table class="fullwidth">

        <tr>

          <td>B</td>
          <td class="soakfield lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="soakbashing" value="{{ attributes.soakbashing }}" class="statfield" />
            {% else %}
              {{ attributes.soakbashing }}
            {% endif %}
          </td>

          <td>L</td>
          <td class="soakfield lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="soaklethal" value="{{ attributes.soaklethal }}" class="statfield" />
            {% else %}
              {{ attributes.soaklethal }}
            {% endif %}
          </td>

          <td>A</td>
          <td class="soakfield lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="soakaggravated" value="{{ attributes.soakaggravated }}" class="statfield" />
            {% else %}
              {{ attributes.soakaggravated }}
            {% endif %}
          </td>

        </tr>

      </table>

    </div>

    <div id="armor">

      <h2 class="sectionheader">{{ universe_attributes.armor.name }}</h2>

      <table class="fullwidth">

        <tr>

          <td class="lightunderline textcenter fullwidth" colspan="6">
            {% if editmode %}
              <input type="text" name="armor" value="{{ attributes.armor }}" class="fullwidth" />
            {% else %}
              {{ attributes.armor }}
            {% endif %}
          </td>

        </tr>

        <tr>

          <td>B</td>
          <td class="armorfield lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="armorbashing" value="{{ attributes.armorbashing }}" class="statfield" />
            {% else %}
              {{ attributes.armorbashing }}
            {% endif %}
          </td>
          
          <td>L</td>
          <td class="armorfield lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="armorlethal" value="{{ attributes.armorlethal }}" class="statfield" />
            {% else %}
              {{ attributes.armorlethal }}
            {% endif %}
          </td>

          <td>A</td>
          <td class="armorfield lightunderline textcenter">
            {% if editmode %}
              <input type="text" name="armoraggravated" value="{{ attributes.armoraggravated }}" class="statfield" />
            {% else %}
              {{ attributes.armoraggravated }}
            {% endif %}
          </td>

        </tr>

      </table>

    </div>

  </div>

  <div id="legendhealth" class="threecolumnright">

    <div id="legend">

      <h2 class="sectionheader">Legend</h2>

    </div>

    <div id="health">

      <h2 class="sectionheader">Health</h2>

    </div>

  </div>

  <div class="clear">&nbsp;</div>

</div>

{% endblock %}
