{% extends "characters/basesheet.html" %}
{% load characters_utils %}

{% block header %}
<h1>Scion</h1>
{% endblock %}

{% block sheet %}
<table>
  <tr>
    <td>
      <label>Name:</label>
    </td>
    <td>
      {{ character.name }}
    </td>
    <td>
      <label for="calling">{{ universe_attribute_list.calling.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="calling" value="{{ attribute_list.calling }}" />
      {% else %}
        {{ attribute_list.calling }}
      {% endif %}
    </td>
    <td>
      <label for="pantheon">{{ universe_attribute_list.pantheon.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="pantheon" value="{{ attribute_list.pantheon }}" />
      {% else %}
        {{ attribute_list.pantheon }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="player">{{ universe_attribute_list.player.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="player" value="{{ attribute_list.player }}" />
      {% else %}
        {{ attribute_list.player }}
      {% endif %}
    </td>
    <td>
      <label for="nature">{{ universe_attribute_list.nature.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="nature" value="{{ attribute_list.nature }}" />
      {% else %}
        {{ attribute_list.nature }}
      {% endif %}
    </td>
    <td>
      <label for="god">{{ universe_attribute_list.god.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="god" value="{{ attribute_list.god }}" />
      {% else %}
        {{ attribute_list.god }}
      {% endif %}
    </td>
  </tr>
</table>

<hr />
<h2>Attributes</h2>
<table>
  <tr>
    <td></td>
    <td><h3>Physical</h3></td>
    <td></td>
    <td><h3>Social</h3></td>
    <td></td>
    <td><h3>Mental</h3></td>
  </tr>
  <tr>
    <td>
      <label for="strength">{{ universe_attribute_list.strength.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="strength" value="{{ attribute_list.strength }}" />
      {% else %}
        {{ attribute_list.strength|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="charisma">{{ universe_attribute_list.charisma.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="charisma" value="{{ attribute_list.charisma }}" />
      {% else %}
        {{ attribute_list.charisma|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="perception">{{ universe_attribute_list.perception.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="perception" value="{{ attribute_list.perception }}" />
      {% else %}
        {{ attribute_list.perception|dots:10 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="epicstrength">{{ universe_attribute_list.epicstrength.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicstrength" value="{{ attribute_list.epicstrength }}" />
      {% else %}
        {{ attribute_list.epicstrength|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epiccharisma">{{ universe_attribute_list.epiccharisma.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epiccharisma" value="{{ attribute_list.epiccharisma }}" />
      {% else %}
        {{ attribute_list.epiccharisma|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epicperception">{{ universe_attribute_list.epicperception.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicperception" value="{{ attribute_list.epicperception }}" />
      {% else %}
        {{ attribute_list.epicperception|squares:10 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="dexterity">{{ universe_attribute_list.dexterity.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="dexterity" value="{{ attribute_list.dexterity }}" />
      {% else %}
        {{ attribute_list.dexterity|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="manipulation">{{ universe_attribute_list.manipulation.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="manipulation" value="{{ attribute_list.manipulation }}" />
      {% else %}
        {{ attribute_list.manipulation|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="intelligence">{{ universe_attribute_list.intelligence.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="intelligence" value="{{ attribute_list.intelligence }}" />
      {% else %}
        {{ attribute_list.intelligence|dots:10 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="epicdexterity">{{ universe_attribute_list.epicdexterity.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicdexterity" value="{{ attribute_list.epicdexterity }}" />
      {% else %}
        {{ attribute_list.epicdexterity|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epicmanipulation">{{ universe_attribute_list.epicmanipulation.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicmanipulation" value="{{ attribute_list.epicmanipulation }}" />
      {% else %}
        {{ attribute_list.epicmanipulation|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epicintelligence">{{ universe_attribute_list.epicintelligence.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicintelligence" value="{{ attribute_list.epicintelligence }}" />
      {% else %}
        {{ attribute_list.epicintelligence|squares:10 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="stamina">{{ universe_attribute_list.stamina.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="stamina" value="{{ attribute_list.stamina }}" />
      {% else %}
        {{ attribute_list.stamina|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="appearance">{{ universe_attribute_list.appearance.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="appearance" value="{{ attribute_list.appearance }}" />
      {% else %}
        {{ attribute_list.appearance|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="wits">{{ universe_attribute_list.wits.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="wits" value="{{ attribute_list.wits }}" />
      {% else %}
        {{ attribute_list.wits|dots:10 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="epicstamina">{{ universe_attribute_list.epicstamina.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicstamina" value="{{ attribute_list.epicstamina }}" />
      {% else %}
        {{ attribute_list.epicstamina|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epicappearance">{{ universe_attribute_list.epicappearance.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicappearance" value="{{ attribute_list.epicappearance }}" />
      {% else %}
        {{ attribute_list.epicappearance|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epicwits">{{ universe_attribute_list.epicwits.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicwits" value="{{ attribute_list.epicwits }}" />
      {% else %}
        {{ attribute_list.epicwits|squares:10 }}
      {% endif %}
    </td>
  </tr>
</table>
<hr />
<h2>Abilities</h2>
<table>
  <tr>
    <td>
      <label for="academics">{{ universe_attribute_list.academics.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="academics" value="{{ attribute_list.academics }}" />
      {% else %}
        {{ attribute_list.academics|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="craft">{{ universe_attribute_list.craft.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="craft" value="{{ attribute_list.craft }}" />
      {% else %}
        {{ attribute_list.craft|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="melee">{{ universe_attribute_list.melee.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="melee" value="{{ attribute_list.melee }}" />
      {% else %}
        {{ attribute_list.melee|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="animalken">{{ universe_attribute_list.animalken.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="animalken" value="{{ attribute_list.animalken }}" />
      {% else %}
        {{ attribute_list.animalken|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="empathy">{{ universe_attribute_list.empathy.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="empathy" value="{{ attribute_list.empathy }}" />
      {% else %}
        {{ attribute_list.empathy|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="occult">{{ universe_attribute_list.occult.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="occult" value="{{ attribute_list.occult }}" />
      {% else %}
        {{ attribute_list.occult|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="art">{{ universe_attribute_list.art.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="art" value="{{ attribute_list.art }}" />
      {% else %}
        {{ attribute_list.art|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="fortitude">{{ universe_attribute_list.fortitude.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="fortitude" value="{{ attribute_list.fortitude }}" />
      {% else %}
        {{ attribute_list.fortitude|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="politics">{{ universe_attribute_list.politics.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="politics" value="{{ attribute_list.politics }}" />
      {% else %}
        {{ attribute_list.politics|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="athletics">{{ universe_attribute_list.athletics.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="athletics" value="{{ attribute_list.athletics }}" />
      {% else %}
        {{ attribute_list.athletics|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="integrity">{{ universe_attribute_list.integrity.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="integrity" value="{{ attribute_list.integrity }}" />
      {% else %}
        {{ attribute_list.integrity|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="presence">{{ universe_attribute_list.presence.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="presence" value="{{ attribute_list.presence }}" />
      {% else %}
        {{ attribute_list.presence|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="awareness">{{ universe_attribute_list.awareness.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="awareness" value="{{ attribute_list.awareness }}" />
      {% else %}
        {{ attribute_list.awareness|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="investigation">{{ universe_attribute_list.investigation.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="investigation" value="{{ attribute_list.investigation }}" />
      {% else %}
        {{ attribute_list.investigation|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="science">{{ universe_attribute_list.science.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="science" value="{{ attribute_list.science }}" />
      {% else %}
        {{ attribute_list.science|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="brawl">{{ universe_attribute_list.brawl.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="brawl" value="{{ attribute_list.brawl }}" />
      {% else %}
        {{ attribute_list.brawl|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="larceny">{{ universe_attribute_list.larceny.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="larceny" value="{{ attribute_list.larceny }}" />
      {% else %}
        {{ attribute_list.larceny|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="stealth">{{ universe_attribute_list.stealth.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="stealth" value="{{ attribute_list.stealth }}" />
      {% else %}
        {{ attribute_list.stealth|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="command">{{ universe_attribute_list.command.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="command" value="{{ attribute_list.command }}" />
      {% else %}
        {{ attribute_list.command|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="marksmanship">{{ universe_attribute_list.marksmanship.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="marksmanship" value="{{ attribute_list.marksmanship }}" />
      {% else %}
        {{ attribute_list.marksmanship|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="survival">{{ universe_attribute_list.survival.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="survival" value="{{ attribute_list.survival }}" />
      {% else %}
        {{ attribute_list.survival|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="control">{{ universe_attribute_list.control.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="control" value="{{ attribute_list.control }}" />
      {% else %}
        {{ attribute_list.control|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="medicine">{{ universe_attribute_list.medicine.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="medicine" value="{{ attribute_list.medicine }}" />
      {% else %}
        {{ attribute_list.medicine|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="thrown">{{ universe_attribute_list.thrown.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="thrown" value="{{ attribute_list.thrown }}" />
      {% else %}
        {{ attribute_list.thrown|dots:5 }}
      {% endif %}
    </td>
  </tr>
</table>
{% endblock %}
