{% extends "characters/basesheet.html" %}
{% load characters_utils %}

{% block header %}
<h1>Scion</h1>
{% endblock %}

{% block sheet %}
<table>
  <tr>
    <td>
      <label>Name:</label>
    </td>
    <td>
      {{ character.name }}
    </td>
    <td>
      <label for="calling">{{ universe_attributes.calling.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="calling" value="{{ attributes.calling.value }}" />
      {% else %}
        {{ attributes.calling }}
      {% endif %}
    </td>
    <td>
      <label for="pantheon">{{ universe_attributes.pantheon.name }}:</label>
    </td>
    <td>
      {% if editmode %}
      	<select name="pantheon">
	  <option value="0"></option>
	  {% for choice in universe_attributes.pantheon.choices %}
	  <option value="{{ choice.id }}" {% ifequal choice attributes.pantheon.choice %}selected{% endifequal %}>{{ choice.name }}</option>
	  {% endfor %}
	</select>
      {% else %}
        {{ attributes.pantheon.choice.name }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="player">{{ universe_attributes.player.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="player" value="{{ attributes.player }}" />
      {% else %}
        {{ attributes.player }}
      {% endif %}
    </td>
    <td>
      <label for="nature">{{ universe_attributes.nature.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <select name="nature">
	  <option value="0"></option>
	  {% for choice in universe_attributes.nature.choices %}
	  <option value="{{ choice.id }}" {% ifequal choice attributes.nature.choice %}selected{%endifequal %}>{{ choice.name }}</option>
	  {% endfor %}
	</select>
      {% else %}
        {{ attributes.nature.choice.name }}
      {% endif %}
    </td>
    <td>
      <label for="god">{{ universe_attributes.god.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="god" value="{{ attributes.god }}" />
      {% else %}
        {{ attributes.god }}
      {% endif %}
    </td>
  </tr>
</table>

<hr />
<h2>Attributes</h2>
<table>
  <tr>
    <td></td>
    <td><h3>Physical</h3></td>
    <td></td>
    <td><h3>Social</h3></td>
    <td></td>
    <td><h3>Mental</h3></td>
  </tr>
  <tr>
    <td>
      <label for="strength">{{ universe_attributes.strength.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="strength" value="{{ attributes.strength|default:"0" }}" />
      {% else %}
        {{ attributes.strength.value|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="charisma">{{ universe_attributes.charisma.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="charisma" value="{{ attributes.charisma|default:"0" }}" />
      {% else %}
        {{ attributes.charisma.value|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="perception">{{ universe_attributes.perception.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="perception" value="{{ attributes.perception|default:"0" }}" />
      {% else %}
        {{ attributes.perception.value|dots:10 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="epicstrength">{{ universe_attributes.epicstrength.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicstrength" value="{{ attributes.epicstrength|default:"0" }}" />
      {% else %}
        {{ attributes.epicstrength|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epiccharisma">{{ universe_attributes.epiccharisma.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epiccharisma" value="{{ attributes.epiccharisma|default:"0" }}" />
      {% else %}
        {{ attributes.epiccharisma|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epicperception">{{ universe_attributes.epicperception.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicperception" value="{{ attributes.epicperception|default:"0" }}" />
      {% else %}
        {{ attributes.epicperception|squares:10 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="dexterity">{{ universe_attributes.dexterity.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="dexterity" value="{{ attributes.dexterity|default:"0" }}" />
      {% else %}
        {{ attributes.dexterity.value|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="manipulation">{{ universe_attributes.manipulation.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="manipulation" value="{{ attributes.manipulation|default:"0" }}" />
      {% else %}
        {{ attributes.manipulation.value|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="intelligence">{{ universe_attributes.intelligence.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="intelligence" value="{{ attributes.intelligence|default:"0" }}" />
      {% else %}
        {{ attributes.intelligence.value|dots:10 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="epicdexterity">{{ universe_attributes.epicdexterity.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicdexterity" value="{{ attributes.epicdexterity|default:"0" }}" />
      {% else %}
        {{ attributes.epicdexterity|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epicmanipulation">{{ universe_attributes.epicmanipulation.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicmanipulation" value="{{ attributes.epicmanipulation|default:"0" }}" />
      {% else %}
        {{ attributes.epicmanipulation|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epicintelligence">{{ universe_attributes.epicintelligence.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicintelligence" value="{{ attributes.epicintelligence|default:"0" }}" />
      {% else %}
        {{ attributes.epicintelligence|squares:10 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="stamina">{{ universe_attributes.stamina.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="stamina" value="{{ attributes.stamina|default:"0" }}" />
      {% else %}
        {{ attributes.stamina.value|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="appearance">{{ universe_attributes.appearance.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="appearance" value="{{ attributes.appearance|default:"0" }}" />
      {% else %}
        {{ attributes.appearance.value|dots:10 }}
      {% endif %}
    </td>
    <td>
      <label for="wits">{{ universe_attributes.wits.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="wits" value="{{ attributes.wits|default:"0" }}" />
      {% else %}
        {{ attributes.wits.value|dots:10 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="epicstamina">{{ universe_attributes.epicstamina.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicstamina" value="{{ attributes.epicstamina|default:"0" }}" />
      {% else %}
        {{ attributes.epicstamina|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epicappearance">{{ universe_attributes.epicappearance.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicappearance" value="{{ attributes.epicappearance|default:"0" }}" />
      {% else %}
        {{ attributes.epicappearance|squares:10 }}
      {% endif %}
    </td>
    <td>
      <label for="epicwits">{{ universe_attributes.epicwits.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="epicwits" value="{{ attributes.epicwits|default:"0" }}" />
      {% else %}
        {{ attributes.epicwits|squares:10 }}
      {% endif %}
    </td>
  </tr>
</table>
<hr />
<h2>Abilities</h2>
<table>
  <tr>
    <td>
      <label for="academics">{{ universe_attributes.academics.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="academics" value="{{ attributes.academics|default:"0" }}" />
      {% else %}
        {{ attributes.academics.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="craft">{{ universe_attributes.craft.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="craft" value="{{ attributes.craft|default:"0" }}" />
      {% else %}
        {{ attributes.craft.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="melee">{{ universe_attributes.melee.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="melee" value="{{ attributes.melee|default:"0" }}" />
      {% else %}
        {{ attributes.melee.value|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="animalken">{{ universe_attributes.animalken.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="animalken" value="{{ attributes.animalken|default:"0" }}" />
      {% else %}
        {{ attributes.animalken.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="empathy">{{ universe_attributes.empathy.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="empathy" value="{{ attributes.empathy|default:"0" }}" />
      {% else %}
        {{ attributes.empathy.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="occult">{{ universe_attributes.occult.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="occult" value="{{ attributes.occult|default:"0" }}" />
      {% else %}
        {{ attributes.occult.value|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="art">{{ universe_attributes.art.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="art" value="{{ attributes.art|default:"0" }}" />
      {% else %}
        {{ attributes.art.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="fortitude">{{ universe_attributes.fortitude.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="fortitude" value="{{ attributes.fortitude|default:"0" }}" />
      {% else %}
        {{ attributes.fortitude.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="politics">{{ universe_attributes.politics.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="politics" value="{{ attributes.politics|default:"0" }}" />
      {% else %}
        {{ attributes.politics.value|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="athletics">{{ universe_attributes.athletics.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="athletics" value="{{ attributes.athletics|default:"0" }}" />
      {% else %}
        {{ attributes.athletics.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="integrity">{{ universe_attributes.integrity.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="integrity" value="{{ attributes.integrity|default:"0" }}" />
      {% else %}
        {{ attributes.integrity.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="presence">{{ universe_attributes.presence.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="presence" value="{{ attributes.presence|default:"0" }}" />
      {% else %}
        {{ attributes.presence.value|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="awareness">{{ universe_attributes.awareness.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="awareness" value="{{ attributes.awareness|default:"0" }}" />
      {% else %}
        {{ attributes.awareness.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="investigation">{{ universe_attributes.investigation.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="investigation" value="{{ attributes.investigation|default:"0" }}" />
      {% else %}
        {{ attributes.investigation.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="science">{{ universe_attributes.science.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="science" value="{{ attributes.science|default:"0" }}" />
      {% else %}
        {{ attributes.science.value|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="brawl">{{ universe_attributes.brawl.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="brawl" value="{{ attributes.brawl|default:"0" }}" />
      {% else %}
        {{ attributes.brawl.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="larceny">{{ universe_attributes.larceny.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="larceny" value="{{ attributes.larceny|default:"0" }}" />
      {% else %}
        {{ attributes.larceny.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="stealth">{{ universe_attributes.stealth.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="stealth" value="{{ attributes.stealth|default:"0" }}" />
      {% else %}
        {{ attributes.stealth.value|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="command">{{ universe_attributes.command.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="command" value="{{ attributes.command|default:"0" }}" />
      {% else %}
        {{ attributes.command.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="marksmanship">{{ universe_attributes.marksmanship.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="marksmanship" value="{{ attributes.marksmanship|default:"0" }}" />
      {% else %}
        {{ attributes.marksmanship.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="survival">{{ universe_attributes.survival.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="survival" value="{{ attributes.survival|default:"0" }}" />
      {% else %}
        {{ attributes.survival.value|dots:5 }}
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <label for="control">{{ universe_attributes.control.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="control" value="{{ attributes.control|default:"0" }}" />
      {% else %}
        {{ attributes.control.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="medicine">{{ universe_attributes.medicine.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="medicine" value="{{ attributes.medicine|default:"0" }}" />
      {% else %}
        {{ attributes.medicine.value|dots:5 }}
      {% endif %}
    </td>
    <td>
      <label for="thrown">{{ universe_attributes.thrown.name }}:</label>
    </td>
    <td>
      {% if editmode %}
        <input type="text" name="thrown" value="{{ attributes.thrown|default:"0" }}" />
      {% else %}
        {{ attributes.thrown.value|dots:5 }}
      {% endif %}
    </td>
  </tr>
</table>
<div>
  <h2>Birthrights</h2>
  <table>
    {% if editmode %}
      <tr>
        <td>
          <input type="text" name="birthrightname" />
	</td>
	<td>
	  <input type="text" name="birthrightlevel" />
	</td>
      </tr>
      <tr>
        <td>
          <input type="text" name="birthrightname" />
	</td>
	<td>
	  <input type="text" name="birthrightlevel" />
	</td>
      </tr>
      <tr>
        <td>
          <input type="text" name="birthrightname" />
	</td>
	<td>
	  <input type="text" name="birthrightlevel" />
	</td>
      </tr>
      <tr>
        <td>
          <input type="text" name="birthrightname" />
	</td>
	<td>
	  <input type="text" name="birthrightlevel" />
	</td>
      </tr>
      <tr>
        <td>
          <input type="text" name="birthrightname" />
	</td>
	<td>
	  <input type="text" name="birthrightlevel" />
	</td>
      </tr>
      <tr>
        <td>
          <input type="text" name="birthrightname" />
	</td>
	<td>
	  <input type="text" name="birthrightlevel" />
	</td>
      </tr>
    {% else %}
      {% for num, birthright in attributes.birthrights.items %}
        <tr>
	  <td>{{ birthright.birthrightname }}</td>
	  <td>{{ birthright.birthrightlevel.value|dots:5 }}</td>
	</tr>
      {% endfor %}
    {% endif %}
  </table>
</div>
{% endblock %}
