.threecolumnleft {
	width: 32%;
	float: left;
	padding-right: 9px;
}

.threecolumnmiddle {
	width: 32%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.threecolumnright {
	width: 32%;
	float: left;
	padding-left: 9px;
}

.twocolumnleft {
  width: 48%;
  float: left;
}

.twocolumnright {
  width: 48%;
  float: right;
}

.clear {
	clear: both;
	display: block;
	height: 1px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

div#charinfo {
	width: 27%;
	float: left;
	padding-right: 9px;
}

div#revisions {
	width: 52%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

div#actions {
	width: 17%;
	float: left;
	padding-left: 9px;
}

div#revisioneditfields div#revisionnamefield {
  vertical-align: center;
}

div#revisionlist a {
  font-size: larger;
}

div#revisionnavfloating {
  position: fixed;
  top: 0px;
  width: 100%;
}

div#actions a {
  font-size: larger;
}

div#actions div#logoutaction {
  text-align: right;
}

div#revisioneditactions {
  width: 100px;
}

div#revisioneditactionsfloating {
  position: fixed;
  top: 0px;
  width: 100%;
}

div#saveaction {
  float: right;
}

span.dotpending, span.squarepending {
  color: gray;
}

span#revisionnoteslabel {
  vertical-align: top;
}

div#revisionname {
  height: 20px;
}

span#revnameinplace:hover, span#revnotesinplace:hover {
  background-color: #dbddde;
}
