table#difflist {
  width: 100%;
}

table#difflist td.diffline, td.diffvalue {
  text-align: center;
}

table#difflist td.diffvalue {
  width: 50%;
}

table#difflist th.diffattrname {
  text-align: left;
}
