<h1>Scion</h1>
<form action="/characters/{{ character.id }}/save/" method="post">

<table>
<tr>
  <td>
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{ attribute_list.name }}" />
  </td>
  <td>
    <label for="calling">Calling:</label>
    <input type="text" name="calling" value="{{ attribute_list.calling }}" />
  </td>
  <td>
    <label for="pantheon">Pantheon:</label>
    <input type="text" name="pantheon" value="{{ attribute_list.pantheon }}" />
  </td>
</tr>
<tr>
  <td>
    <label for="player">Player:</label>
    <input type="text" name="player" value="{{ attribute_list.player }}" />
  </td>
  <td>
    <label for="nature">Nature:</label>
    <input type="text" name="nature" value="{{ attribute_list.nature }}" />
  </td>
  <td>
    <label for="god">God:</label>
    <input type="text" name="god" value="{{ attribute_list.god }}" />
  </td>
</tr>
</table>
<input type="submit" value="Save" />
</form> 
