body {
	background-color: black
}

div#body {
	background-color: white;
	width: 98%;
	margin: 0 auto;
}

div#revisionnavfloating {
  background-color: white;
  margin: 0 auto;
  width: 98%;
}

div#basicinfo .basicinfolabel {
  font-size: smaller;
}

div#basicinfo .basicinfolowerrow {
  padding-top: 1em;
}

div#weapons table#weapontable .weaponname {
  text-align: left;
}

div#weapons table#weapontable th.weaponattribute {
  font-variant: small-caps;
}

div#weapons table#weapontable th.weaponattributeedit {
  font-variant: small-caps;
}

div#weapons table#weapontable td.weaponattribute {
  border-width: 0px 0px 1px 1px;
}

div#willpowercombat div#combat td {
  white-space: nowrap;
}

div#movement td {
  width: 33%;
}

div#experience td {
  width: 33%;
}

div#soak td.soakfield {
  width: 33%;
}

div#armor td.armorfield {
  width: 33%;
}

div#legend td.legendpointsfield {
  width: 25%;
}

.tablecenter {
	margin: 0 auto;
}

.textcenter {
	text-align: center;
}

.sectionheader {
  background-color: #000;
  color: #fff;
  font-variant: small-caps;
  text-align: center;
}

.fullwidth {
  width: 100%;
}

.statfield {
  width: 30px;
}

.emptymessage {
  color: #a8aaae;
  font-style: italic;
  text-align: center;
}

.lightunderline {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #c8cace;
}
