{% extends "characters/base.html" %}

{% block css %}
<link rel="stylesheet" href="http://centraldogma:8000/characters_media/css/basesheet.css">
{% block sheetcss %}
{% endblock %}
{% endblock %}

{% block body %}

{% block header %}
{% endblock %}

{% if editmode %}
<form action="/characters/{{ character.id }}/save/" method="post">

  <div id="revisioneditfields">

    <div id="revisionnamefield" class="twocolumnleft">

      <label for="revisionname">Revision name:</label>
      <input type="text" name="revisionname" class="fullwidth" />

    </div>

    <div id="revisionnotesfield" class="twocolumnright">

      <label for="revisionnotes">Revision notes:</label>
      <textarea name="revisionnotes" rows=5 class="fullwidth" ></textarea>

    </div>

    <div class="clear sectionheader">&nbsp;</div>
  
  </div>

{% else %}

  <script type="text/javascript">
    var menuY = null;

    $(document).ready(function(){
      var p = $("#revisionnav").position();
      menuY = p.top;
      $("#revisionnavfloating").hide();
      var menu = $("#revisionnav").clone();
      menu.appendTo("#revisionnavfloating");

      $(window).scroll(function(){
        var windowY = $(document).scrollTop();
        if (windowY > menuY) {
          $("#revisionnavfloating").show();
        } else {
          $("#revisionnavfloating").hide();
        }
      });
    });
  </script>

  <div id="revisionnavfloating">
  </div>

  <div id="revisionnav">

    <div id="revisions" class="twocolumnleft">

      <div id="revisionlist">

        {% if revision_list %}

	  <script type="text/javascript">
	    $(document).ready(function(){
	      $('#revisionnavsubmit').remove();
	    })
	  </script>

          <form action="/characters/{{ character.id }}/goto/" method="get">
            <label for="revision">Revisions:</label>
            <select name="revision" onchange="form.submit()">
              {% for rev in revision_list %}
                <option value="{{ rev.revision }}" {% ifequal rev revision %}selected{% endifequal %}>{{ rev }}{% if rev.name %} [{{rev.name}}]{% endif %}</option>
              {% endfor %}
            </select>
            <input id="revisionnavsubmit" type="submit" value="View" />
          </form>

        {% endif %}
        

      </div>

      <div id="revisionnotes">

        {% if revision.notes %}
          Notes: {{ revision.notes }}
        {% endif %}

      </div>

    </div>

    <div id="editaction" class="twocolumnright">

      <a href="/characters/{{ character.id }}/edit/">Edit</a>

    </div>

    <div class="clear sectionheader">&nbsp;</div>

  </div>


{% endif %}


{% block sheet %}
{% endblock %}

{% if editmode %}
<input type="submit" value="Save" />
</form> 
{% endif %}

{% endblock %}
