<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>{% block pagetitle %}Personae{% endblock %}</title>

  <link rel="stylesheet" href="{{ MEDIA_URL }}characters/css/base.css">
  {% block css %}
  {% endblock %}

  <script type="text/javascript" src="{{ MEDIA_URL }}characters/scripts/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}characters/scripts/jquery.highlightFade.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}characters/scripts/jquery.qtip-1.0.0-rc3.min.js"></script>
  {% block js %}
  {% endblock %}
</head>

<body>

  <div id="body">

    {% block body %}
    {% endblock %}

    <script type="text/javascript">
      $(document).ready(function(){
        $('.tooltip[title]').qtip({
          position: {
            corner: {
              target: 'topMiddle',
              tooltip: 'bottomMiddle'
            },
            adjust: {
              screen: true
            }
          },
          style: {
	          border: {
              radius: 8
            },
            name: 'dark',
            tip: true
          }
        });
      });
    </script>

  </div>

</body>
</html>
