{% extends "characters/base.html" %}

{% block sheetcss %}
<link rel="stylesheet" href="{{ MEDIA_URL }}characters/css/basesheet.css">
{% block universecss %}
{% endblock %}
{% endblock %}

{% block body %}

{% block header %}
{% endblock %}

{% if editmode %}
<form action="/characters/{{ character.id }}/save/" method="post">

  <div id="revisioneditfields">

    <div id="revisionnamefield" class="twocolumnleft">

      <label for="revisionname" class="label">Revision name:</label>
      <input type="text" name="revisionname" class="fullwidth" />

    </div>

    <div id="revisionnotesfield" class="twocolumnright">

      <label for="revisionnotes" class="label">Revision notes:</label>
      <textarea name="revisionnotes" rows=5 class="fullwidth" ></textarea>

    </div>

    <div class="clear sectionheader">&nbsp;</div>
  
  </div>

{% else %}

  <script type="text/javascript">
    var menuY = null;

    $(document).ready(function(){
      var nav = $("#revisionnav");
      var floatingnav = $("#revisionnavfloating");

      menuY = nav.position().top;

      floatingnav.hide();
      floatingnav.append(nav.clone().html());

      $(window).scroll(function(){
        var windowY = $(document).scrollTop();
	var floatingnav = $("#revisionnavfloating");
        if (windowY > menuY) {
	  var nav = $("#revisionnav");
	  var navwidth = nav.width();
	  var floatingwidth = floatingnav.width();
          floatingnav.show();
	  if (navwidth != floatingwidth) {
	    floatingnav.width(navwidth);
	  }
        } else {
          floatingnav.hide();
        }
      });
    });
  </script>

  <div id="revisionnavfloating">
  </div>

  <div id="revisionnav">

    <div id="charinfo">

      <table>

        <tr>
          <td class="label">Character:</td>
          <td>{{ character.name }}</td>
        </tr>

        <tr>
          <td class="label">Universe:</td>
          <td>{{ character.universe }}</td>
        </tr>

      </table>

    </div>

    <div id="revisions">

      <div id="revisionlist">

        {% if revision_list %}

	  <script type="text/javascript">
	    $(document).ready(function(){
	      $('#revisionnavsubmit').remove();
	    })
	  </script>

          <form action="/characters/{{ character.id }}/goto/" method="get">
            <label for="revision" class="label">Revisions:</label>
	    {% if prevrevision %}
	      <a class="nounderline" href="/characters/{{ character.id }}/{{ prevrevision.revision }}/">&lt;</a>
	    {% endif %}
            <select name="revision" onchange="form.submit()">
              {% for rev in revision_list %}
                <option value="{{ rev.revision }}" {% ifequal rev revision %}selected{% endifequal %}>{{ rev }}{% if rev.name %} [{{rev.name}}]{% endif %}</option>
              {% endfor %}
            </select>
	    {% if nextrevision %}
	      <a class="nounderline" href="/characters/{{ character.id }}/{{ nextrevision.revision }}/">&gt;</a>
	    {% endif %}
            <input id="revisionnavsubmit" type="submit" value="View" />
          </form>

        {% endif %}
        

      </div>

    </div>

    <div id="actions">

      <div id="editaction" class="twocolumnleft">
        <a href="/characters/{{ character.id }}/edit/" class="nounderline">Edit</a>
      </div>
      <div id="logoutaction" class="twocolumnright">
        <a href="/accounts/logout/" class="nounderline">Logout</a>
      </div>

    </div>

    <div id="revisionnotes">

      {% if revision.notes %}
        <span class="label">Notes:</span> {{ revision.notes }}
      {% endif %}

    </div>

    <div class="clear sectionheader">&nbsp;</div>

  </div>


{% endif %}


{% block sheet %}
{% endblock %}

{% if editmode %}
<input type="submit" value="Save" />
</form> 
{% endif %}

{% endblock %}
